.slider {
	min-width: 0;
	position: relative;
	padding: 0;

	&__item {
		display: flex;
		justify-content: center;
		flex-basis: 100%;
		outline: none;
	}
}
/* Слайдер */
.slick-slider {

}

/* Слайдер запущен */
.slick-slider.slick-initialized {
}

/* Слайдер с точками */
.slick-slider.slick-dotted {
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

/* Слайд */
.slick-slide {
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}

/* Клонированный слайд */
.slick-slide.slick-cloned {
}

/* Стрелка */
.slider{
	.slick-arrow {
		border: none;
		position: absolute;
		top: 42%;
		z-index: 10;
		font-size: 0;
		width: 40px;
		height: 40px;
		background-color: rgba(232,232,232,1);
		border-radius: 50%;
		opacity: 0.6;
		transition: .2s;
		&:hover{
			opacity: 1;
		}
	}
	.slick-arrow.slick-prev {
		outline: none;
		left:-5%;
		&:before{
			font-family: "Font Awesome 5 Free";
			font-weight: 600;
			content: '\f053';
			color: #111111;
			margin-top: 2px;
			margin-right: 2px;
			font-size: 16px;
		}
	}
	.slick-arrow.slick-next {
		right:-5%;
		outline: none;
		&:before{
			color: #111111;
			margin-left: 2px;
			margin-top: 2px;
			font-family: "Font Awesome 5 Free";
			font-weight: 600;
			font-size: 16px;
			content: '\f054';
		}
	}
}



	/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Точки (булиты) */
.slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider {
	.slick-dots {
		li {
			list-style: none;
			margin: 0 10px;
			outline: none;
		}
		button {
			padding: 0;
			font-size: 0;
			width: 10px;
			height: 10px;
			border-radius: 50% ;
			background:#c7c7c7;
			border: 1px solid #c7c7c7;
			outline: none;
		}
		li.slick-active button{
			background:$black;
			border: 1px solid $black;
			outline: none;
		}
	}
}
/* Активная точка */
.slick-dots li.slick-active {

}

/* Элемент точки */
.slick-dots li button {
}
.slider .slick-dots{}
.slider .slick-dots{}

//inquirer
.slider--inquirer-dots {
	background: #ebebeb;

	.slick-dots {
		height: 10px;

		button {
			padding: 0;
			font-size: 0;
			width: 100%;
			border-radius: 0;
			background: #DED1C1;
			border: none;
			outline: none;
		}
		li{
			width: 20%;
			margin: 0;
		}
		li.slick-active button{
			background:#917452;
			border: none;
			outline: none;
		}
	}
}

