@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?puflyf');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?puflyf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.ttf?puflyf') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.woff?puflyf') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.svg?puflyf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
  content: "\e900";
}
.icon-micsture:before {
  content: "\e901";
}
.icon-person:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e903";
}
.icon-share:before {
  content: "\e904";
}
.icon-test-tube:before {
  content: "\e905";
}
.icon-tower:before {
  content: "\e906";
}
.icon-singapore:before {
  content: "\e907";
}
.icon-accepted:before {
  content: "\e908";
}
.icon-basket:before {
  content: "\e909";
}
.icon-book:before {
  content: "\e90a";
}
.icon-box:before {
  content: "\e90b";
}
.icon-brief:before {
  content: "\e90c";
}
.icon-ellipse:before {
  content: "\e90d";
}
.icon-essence:before {
  content: "\e90e";
}
.icon-exit:before {
  content: "\e90f";
}
.icon-group:before {
  content: "\e910";
}
