@import "fonts";
@import "libs";
@import "variables";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  font-family: Roboto;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

::selection {
  color: #fff;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

header {
  .row{
    justify-content: space-between;
  }
  .ceil {
    height: 70px;
    background: #A46497;
    font-family: "Din Alternate", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: #ffffff;
    }

    a {
      color: #ffffff;
    }

  }

  .top-line {
    font-weight: bold;
    padding: 40px 0;

    .logo {
      display: flex;

      span {
        letter-spacing: 0;
        white-space: nowrap;
        text-transform: uppercase;
        margin-left: 30px;
        line-height: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center
      }

      img {
      }
    }
  }
  .top-menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    ul{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
    }
    li{

    }
  }
  .actions-interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .logIn{
      display: flex;
      align-items: center;
      svg{
        margin-right: 15px;
      }
    }
    .vertical-line{

    }
    .SGD{

    }
    .search{

    }
    .basket{
      position: relative;
      .Ellipse-basket{
        position: absolute;
        right: -2px;
        bottom: 6px;
      }
    }
  }
}


@import "media";

// Всегда в конце